<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>注册成功 - 吃货社区</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/community.css">
    <link rel="stylesheet" href="/css/editormd.min.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <script src="/js/community.js" type="application/javascript"></script>
    <script src="/js/editormd.min.js" type="application/javascript"></script>
</head>
<body>
<div th:insert="~{navigation::nav}"></div>
<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2><span class="glyphicon glyphicon-print" aria-hidden="true"></span>注册成功</h2>
            <hr>
            <div class="jumbotron login-jumbotron">
                <h1 class="display-4">注册成功</h1>
                <p class="lead">你不愧是万中无一的人才,竟然注册成功了</p>
                <hr class="my-4">
                <p>赶紧去登陆你的账号吧</p>
                <a class="btn btn-primary btn-lg" href="/login" role="button">登陆</a>
            </div>
        </div>



        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <h3>用户指南</h3>
            ●用户名:.....................................<br>
            ●密码:...........................................<br>
            ●...:...........................................<br>
        </div>
    </div>
</div>
<div th:insert="~{footer::footer}"></div>


</body>
</html>